.table-responsive .work-tab table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 25px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: left;
}

.table-responsive .work-tab th {
    background: midnightblue;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
.table-responsive .work-tab th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.table-responsive .work-tab th:first-child, td:first-child {
    text-align: left;
}
.table-responsive .work-tab th:first-child {
    border-top-left-radius: 10px;
}
.table-responsive .work-tab th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
.table-responsive .work-tab td {
    padding: 10px 20px;
    background: #F8E391;
}
.table-responsive .work-tab tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.table-responsive .work-tab tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
.table-responsive .work-tab tr td:last-child {
    border-right: none;
}